@charset "UTF-8";

body{
    font-family: Arial, Helvetica, sans-serif;
}
div > p{
    display: none; /*esconde*/
}
div:hover > p{
    display: block; /*mostra*/
    color: white;
    background-color: red;
    width: 150px;
}
div:hover{
    color: red;
}